/* Universal Styles */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Tambahkan ini */
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 100vh;
}

/* Navbar */
.custom-navbar {
  background-color: #571ec9;
  padding: 0 5px 5px 5px;
  display: flex; /* Tambahkan ini */
}

.navbar-brand {
  color: whitesmoke;
  padding: 0 5px 0 0;
}

/* Carousel */
#carouselExampleDark {
  margin-top: 5px;
}

.carousel-item {
  margin-top: 0px;
}

.custom-carousel-image {
  margin-top: 10px;
  padding: 0 30px;
  height: 150px;
  width: 250px;
  filter: drop-shadow(0px 3px 5px rgba(255, 7, 7, 0.7)); /* Perbaiki nilai rgba */
}

.carousel-item:hover {
  background: #e1e1e1;
  box-shadow: 0 0 0 2px #d0d0d0;
}

/* Berita Terkini */
.berita {
  font-size: 20px;
  color: #06713f;
  font-weight: bold;
  padding: 0 20px;
  margin: 15px 0; /* Ubah margin menjadi positif */
}

.informasi {
  padding: 0 20px;
  border: none;
  background: none;
}

.custom-image {
  width: 70px;
  height: 70px;
}

.custom-title {
  border: none;
  width: 110%;
  text-align: center;
}

.card-body {
  padding: 10px;
  width: 100%; /* Ubah menjadi 100% */
  border: none;
}

.card {
  display: flex;
  justify-content: center;
  border: none;
}

.cek {
  background-color: #06713f;
}

.card-img-top {
  height: 100px; /* Ubah nilai menjadi 100px */
  width: 150px;
  margin: auto;
  display: block;
}

.container-artikel {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  text-align: center;
}

/* foto */
.container-foto {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the image */
.custom-foto {
  width: 100%; /* Ubah menjadi 100% */
  height: auto;
  border-radius: 0;
}
