/* Container Artikel */
.container-artikel {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 50px;
}

/* Judul Artikel */
.detail-title {
  font-size: 20px;
  text-align: center;
  color: #50C878;
}

.title-sub {
  font-size: 19px;
  font-weight: bold;
  color: #228B22;
}


.artikel-judul {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* Kontainer Gambar */
.container-artikel .container-foto {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  padding: 0;
  /* Menghapus padding di dalam kontainer */
}

.custom-foto {
  display: block;
  max-width: 100%;
  /* Gambar hanya akan selebar kontainer induk */
  height: auto;
  /* Memastikan tinggi gambar otomatis sesuai dengan proporsi */
  margin: 0 auto;
  /* Menjadikan gambar rata tengah jika lebih kecil dari kontainer */
  border-radius: 10px;
  /* Border radius opsional */
}

/* Deskripsi Gambar Khusus */
.container-artikel .container-foto+p {
  opacity: 0.5;
  text-align: center;
}

.container-referensi {
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0.5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

/* Media Queries untuk Responsif */
@media (max-width: 600px) {
  .container-artikel h6 {
    font-size: 16px;
  }

  .container-artikel img.custom-foto {
    border-radius: 5px;
  }
}

@media (max-width: 400px) {
  .container-artikel h6 {
    font-size: 14px;
  }

  .container-artikel img.custom-foto {
    border-radius: 5px;
  }
}

@media (orientation: portrait) {
  .container-artikel h6 {
    font-size: 12px;
  }
}

@media (orientation: landscape) {
  .container-artikel h6 {
    font-size: 14px;
  }
}