/* Universal Styles */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Tambahkan ini */
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 100vh;
}

/* Navbar */
.custom-navbar {
  background-color: #571ec9;
  padding: 0 5px 5px 5px;
  display: flex; /* Tambahkan ini */
}





/* Berita Terkini */
.berita {
  font-size: 20px;
  color: #06713f;
  font-weight: bold;
  padding: 0 20px;
  margin: 15px 0; /* Ubah margin menjadi positif */
}

.informasi {
  padding: 0 20px;
  border: none;
  background: none;
}

.custom-image {
  width: 70px;
  height: 70px;
}

.custom-title {
  border: none;
  width: 110%;
  text-align: center;
}

.card-body {
  padding: 10px;
  width: 100%; /* Ubah menjadi 100% */
  border: none;
}

.card {
  display: flex;
  justify-content: center;
  border: none;
}

.cek {
  background-color: #06713f;
}

.card-img-top {
  height: 100px; /* Ubah nilai menjadi 100px */
  width: 150px;
  margin: auto;
  display: block;
}

.container-artikel {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  text-align: center;
}

.container-waktu {
  opacity: 0.5;
text-align: center;
  font-size: 12px;
}


/* foto */
.container-foto {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.judul-halaman {
  text-align: center;
  margin-bottom: 15px;
}

/* Styling for the image */
.custom-foto {
  width: 100%; /* Ubah menjadi 100% */
  height: auto;
  border-radius: 0;
}

.isi-halaman p {
  text-align: left;
}