.responsive-iframe-container {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    /* Menggunakan 100% dari tinggi viewport */
    padding: 10px;
  }

  .iframe-detail {
    position: absolute;
    padding: 10px;
    top: -1px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    transform-origin: top left;
    width: calc(200%);
    /* Menghilangkan tambahan lebar dari padding */
    height: calc(140%);
    /* Menghilangkan tambahan tinggi dari padding */
    transform: scale(0.5);
    /* Skala default */
  }