/* Universal Styles */
*,
html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}



/* END Universal Styles ___________________________________________________________________________________________________________________________________ */

/* LOADING SCREEN */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 2s ease;
}

.loading-logo {
  width: 300px;
  height: 300px;
  margin-bottom: 5px;
}

.loading-wait {
  width: 500px;
  height: 300px;
}



/* END LOADING SCREEN ____________________________________________________________________________________________________________________________*/

/* NAVBAR */
.custom-navbar {
  background-color: #571ec9;
  padding: 0 3.5px 3.5px 3.5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Untuk memastikan navbar tampil di atas konten lain */
}


.navbar-brand {
  color: whitesmoke;
  padding: 0 5px 0 0;
}

.icon-img {
  border-radius: 10px;
  margin-top: 4px;
}

.navbar-toggler {
  margin-top: 3px;
  color: navy;
}

/* END NAVBAR ________________________________________________________________________________________________________________________________________ */

/* SLIDE */
#carouselExampleDark {
  margin-top: 50px;
}

.carousel-item {
  margin-top: 0px;
}

.custom-carousel-image {
  padding: 0 25px;
  object-fit: cover;
  width: auto;
  height: 200px;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  filter: drop-shadow(0px 3px 5px rgb(255, 7, 7, 7));
}

.carousel-item:hover {
  background: #e1e1e1;
  box-shadow: 0 0 0 2px #d0d0d0;
}

/* END SLIDE __________________________________________________________________________________________________________________________________________ */

/* BOX */
.container-box {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-box {
  padding: 0;
  font-size: 12px;
  width: 165px;
  background-color: #b1ffbe;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 4px rgba(229, 40, 235, 0.73);
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

.countdown-box hr {
  margin: 1px 0;
}

.countdown-box h3,
.countdown-box p {
  margin: -2px 0;
  font-size: 12px;
  color: #571ec9;
}

.waktu-mundur {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 9px;
  word-spacing: 1px;
  color: #FF0000;
  font-weight: 700;
  text-decoration: none;
  margin-top: -2px;

}

/* END BOX ___________________________________________________________________________________________________________________________________________*/

/* BUTTON */
.container-button {
  margin-top: 25px;
  padding: 0 30px;
  border-radius: 9px;
  margin-bottom: 25px;
}

.custom-btn {
  width: 100%;
  height: 35px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #121b67;
  padding: 0;
  line-height: 1;
  box-shadow: 2px 2px 6px 2px rgba(255, 162, 1, 0.3);
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}


/* END BUTTON ________________________________________________________________________________________________________________________________________*/

/* BERITA DAN ARTIKEL */
.berita {
  font-size: 20px;
  color: #06713f;
  font-weight: bold;
  padding: 0 20px;
  margin: -15px 0 -5px 0;
  margin-bottom: 5px;
}

.informasi {
  padding: 0 20px;
  border: none;
  background: none;
}

.custom-image {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 5px;
}

.custom-title {
  border: none;
  text-align: center;
}

.card-title {
  font-size: 14px;
  position: absolute;
  top: 20px;
  padding-right: 15px;
  line-height: 1.3;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.card-text {
  font-size: 10px;
  font-size: 12px;
  position: absolute;
  top: 0;
  padding-right: 130px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-body {
  padding-right: 10px;
  width: 110%;
  border: none;
}

.card {
  display: flex;
  justify-content: center;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cek {
  background-color: #06713f;
}

.card-img-top {
  height: 100px;
  width: 150px;
  margin: auto;
  display: block;
}

.container-artikel {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-toggler-icon {
  background-color: rgb(199, 184, 184);
  border-radius: 5px;
}

.element.style {
  color: #571ec9;
}

.navbar-toggler {
  color: #571ec9;
}

/* END BERITA DAN ARTIKEL _________________________________________________________________________________________________________________________*/


.kisi-card {
  border-radius: 5px;
  height: 185px;
  border: 1px solid #ccc;
}

.kisi-card-img-top {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;}



.kisi-card-title {
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
}

.kisi-card-text {
  margin-top: auto;
  font-size: 12px;
  padding: 5px;
}


.g-4,
.gy-4 {
  --bs-gutter-y: 0, 5rem;
}

.container-kisi {
  padding-left: 20px;
  padding-right: 20px;
}

.row-cols-2>* {
  flex: 0 0 auto;
  width: 50%;
  height: 200px;
}

.container-kisi .col {
  padding: 5px;

}





/* loading */

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #3E1E68;
  overflow: hidden;
}

.background span {
  width: 9vmin;
  height: 9vmin;
  border-radius: 9vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 48;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #FFACAC;
  top: 52%;
  left: 77%;
  animation-duration: 12s;
  animation-delay: -2s;
  transform-origin: 22vw 25vh;
  box-shadow: 18vmin 0 3.1361297294558588vmin currentColor;
}
.background span:nth-child(1) {
  color: #583C87;
  top: 59%;
  left: 65%;
  animation-duration: 19s;
  animation-delay: -14s;
  transform-origin: 22vw -24vh;
  box-shadow: -18vmin 0 2.526200015627623vmin currentColor;
}
.background span:nth-child(2) {
  color: #E45A84;
  top: 35%;
  left: 93%;
  animation-duration: 11s;
  animation-delay: -9s;
  transform-origin: 6vw 3vh;
  box-shadow: 18vmin 0 3.170706748866781vmin currentColor;
}
.background span:nth-child(3) {
  color: #583C87;
  top: 35%;
  left: 16%;
  animation-duration: 18s;
  animation-delay: -7s;
  transform-origin: -18vw 1vh;
  box-shadow: 18vmin 0 2.3130708576523107vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: 18%;
  left: 61%;
  animation-duration: 18s;
  animation-delay: -2s;
  transform-origin: -18vw -24vh;
  box-shadow: -18vmin 0 3.2071422243554357vmin currentColor;
}
.background span:nth-child(5) {
  color: #E45A84;
  top: 55%;
  left: 24%;
  animation-duration: 16s;
  animation-delay: -11s;
  transform-origin: -18vw -4vh;
  box-shadow: 18vmin 0 2.4110670543434134vmin currentColor;
}
.background span:nth-child(6) {
  color: #583C87;
  top: 22%;
  left: 45%;
  animation-duration: 14s;
  animation-delay: -20s;
  transform-origin: -18vw 16vh;
  box-shadow: 18vmin 0 2.2583789587323335vmin currentColor;
}
.background span:nth-child(7) {
  color: #583C87;
  top: 60%;
  left: 12%;
  animation-duration: 6s;
  animation-delay: -2s;
  transform-origin: 22vw 19vh;
  box-shadow: -18vmin 0 2.5478546012091634vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 55%;
  left: 48%;
  animation-duration: 24s;
  animation-delay: -1s;
  transform-origin: 9vw 9vh;
  box-shadow: 18vmin 0 2.46604445104229vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 19%;
  left: 86%;
  animation-duration: 12s;
  animation-delay: -7s;
  transform-origin: -15vw -11vh;
  box-shadow: 18vmin 0 2.6948857425662727vmin currentColor;
}
.background span:nth-child(10) {
  color: #FFACAC;
  top: 95%;
  left: 54%;
  animation-duration: 6s;
  animation-delay: -6s;
  transform-origin: -3vw -23vh;
  box-shadow: 18vmin 0 2.3386132053008812vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: 97%;
  left: 4%;
  animation-duration: 25s;
  animation-delay: -18s;
  transform-origin: 9vw -20vh;
  box-shadow: 18vmin 0 2.9505145587504726vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: 82%;
  left: 28%;
  animation-duration: 7s;
  animation-delay: -16s;
  transform-origin: -12vw -9vh;
  box-shadow: 18vmin 0 2.325634881993465vmin currentColor;
}
.background span:nth-child(13) {
  color: #E45A84;
  top: 32%;
  left: 75%;
  animation-duration: 14s;
  animation-delay: -9s;
  transform-origin: -11vw -12vh;
  box-shadow: 18vmin 0 3.1804792780995967vmin currentColor;
}
.background span:nth-child(14) {
  color: #E45A84;
  top: 34%;
  left: 69%;
  animation-duration: 25s;
  animation-delay: -14s;
  transform-origin: 22vw 19vh;
  box-shadow: -18vmin 0 2.3087011869187117vmin currentColor;
}
.background span:nth-child(15) {
  color: #E45A84;
  top: 89%;
  left: 21%;
  animation-duration: 25s;
  animation-delay: -15s;
  transform-origin: -6vw 8vh;
  box-shadow: -18vmin 0 2.66461200852131vmin currentColor;
}
.background span:nth-child(16) {
  color: #FFACAC;
  top: 68%;
  left: 27%;
  animation-duration: 10s;
  animation-delay: -15s;
  transform-origin: 18vw -5vh;
  box-shadow: -18vmin 0 3.1580983842623973vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 74%;
  left: 7%;
  animation-duration: 13s;
  animation-delay: -8s;
  transform-origin: 23vw 3vh;
  box-shadow: 18vmin 0 2.4879544108828506vmin currentColor;
}
.background span:nth-child(18) {
  color: #583C87;
  top: 90%;
  left: 71%;
  animation-duration: 15s;
  animation-delay: -4s;
  transform-origin: 3vw 17vh;
  box-shadow: 18vmin 0 2.8691342802567354vmin currentColor;
}
.background span:nth-child(19) {
  color: #E45A84;
  top: 60%;
  left: 19%;
  animation-duration: 25s;
  animation-delay: -5s;
  transform-origin: -1vw 23vh;
  box-shadow: 18vmin 0 2.3648863553801744vmin currentColor;
}


/* footer -----------------------------------------------------------------------------------------------------------------------------------*/
/* CSS untuk footer */
.custom-footer {
  background-color: #3b44fc;
  padding: 5px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  bottom: 0;
}


/* Gaya tautan */
.custom-footer a {
  color: #007bff;
  text-decoration: none;
}

.custom-footer a:hover {
  text-decoration: underline;
}

/* Gaya ikon media sosial */
.social-icons {
  margin-top: 10px;
}

.social-icon {
  margin-right: 10px;
  font-size: 20px;
}

/* Gaya kolom */
.footer-section {
  padding: 0 10px;
}

/* Responsif pada perangkat berbeda */
@media (max-width: 768px) {
  .footer-section {
      padding: 0;
  }
}



.social-icons {
  margin-top: 10px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
}

.icon-image {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
  border-radius: 9px;
}

.social-icon i {
  transition: color 0.3s;
}

.social-icon:hover i {
  color: #C13584; /* Warna saat ikon Instagram di-hover */
}

/* Warna khusus untuk ikon Instagram */
.social-icon .fa-instagram {
  color: #E1306C;
}

.social-icon:hover .fa-instagram {
  color: #C13584;
}
