/* Container Artikel */
.container-artikel {
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 65px;
}

/* Judul Artikel */
.judul-halaman {
  margin-top: 1rem;
  padding-top: 2.5rem;
  padding-right: 10px;
  padding-left: 10px;
}
.detail-title {
  font-size: 20px;
  text-align: left;
  color: #50C878;
}

.title-keterangan {
  opacity: 0.5;
  margin-top: -5px;
  font-size: 12px;
  margin-bottom: 0;
  padding: 0;
  margin-bottom: -15px;
}


.title-sub {
  font-size: 19px;
  font-weight: bold;
  color: #228B22;
}


.artikel-judul {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.isi-halaman {
  padding-right: 10px;
  padding-left: 10px;
}

/* Kontainer Gambar */
.container-artikel .container-foto {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  padding: 0;
  /* Menghapus padding di dalam kontainer */
}

.container-foto {
  padding: 0 10px 0 10px;
}

.custom-foto {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.keterangan-foto {
  opacity: 0.5;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  font-size: 12px;
  text-align: center; /* Memastikan teks di dalamnya juga rata tengah */
}

/* Deskripsi Gambar Khusus */
.container-artikel .container-foto+p {
  opacity: 0.5;
  text-align: center;
}

.container-referensi {
  padding-right: 10px;
  padding-left: 10px;
  opacity: 0.5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.profil-content {
  padding-right: 10px;
  padding-left: 10px;
}

/* Media Queries untuk Responsif */
@media (max-width: 600px) {
  .container-artikel h6 {
    font-size: 16px;
  }

  .container-artikel img.custom-foto {
    border-radius: 5px;
  }
}

@media (max-width: 400px) {
  .container-artikel h6 {
    font-size: 14px;
  }

  .container-artikel img.custom-foto {
    border-radius: 5px;
  }
}

@media (orientation: portrait) {
  .container-artikel h6 {
    font-size: 12px;
  }
}

@media (orientation: landscape) {
  .container-artikel h6 {
    font-size: 14px;
  }
}