.audio-player-container {
  background-color: #ed6c6c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  max-width: 270px;
  margin: 10px auto;
  text-align: center;
}

.audio-player-title {
  font-size: 1em; /* Ukuran font judul */
  margin-bottom: 5px; /* Jarak bawah */
  color: #000000; /* Warna teks */
}

.audio-player {
  display: flex; /* Flexbox untuk tata letak */
  justify-content: center; /* Pusatkan kontrol */
  align-items: center; /* Pusatkan secara vertikal */
}

.controls {
  display: flex; /* Flexbox untuk kontrol */
  gap: 10px; /* Jarak antar tombol */
}

button {
  background-color: #f8f9fa;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px 7.5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Warna latar belakang saat hover */
}

.btn-play, .btn-pause, .btn-stop {
  font-size: 1em; /* Ukuran font untuk simbol */
}

/* Menambahkan gaya untuk indikator status suara */
.audio-status {
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}

.audio-status.playing {
  color: green;
}

.audio-status.paused {
  color: orange;
}

.audio-status.stopped {
  color: red;
}

/* Menyembunyikan tombol Pause pada perangkat mobile */
@media (max-width: 768px) {
  #pause-btn {
      display: none;
  }
}

/* Menampilkan tombol Pause pada perangkat desktop */
@media (min-width: 769px) {
  #pause-btn {
      display: inline-block;
  }
}
