.container-profil {
    margin-top: 30px;
    padding: 20px;
}
.container-profil-judul {
    text-align: center;
    font-size: 25px;
}


@media (min-width: 1024px) {
    .container-profil {
        margin-top: 55px;
        padding: 20px;
    }
    .container-profil-judul {
        text-align: center;
    }
}