.container-sheed-berita {
    font-size: 20px;
    color: #06713f;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-top: 55px;

  }

/*======================================================= Media Queries untuk Desktop =======================================================*/
@media (min-width: 1024px) {

.container-sheed-berita {
    font-size: 20px;
    color: #06713f;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-top: 70px;

  }
  
  .custom-image {
    width: 85px;
    height: 85px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .custom-title {
    border: none;
    text-align: center;
  }
  
  .card-title {
    font-size: 14px;
    position: absolute;
    top: 20px;
    line-height: 1.3;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card-text {
    font-size: 12px;
    position: absolute;
    top: 0;
    padding-right: 130px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card-body {
    padding-right: 10px;
    width: 110%;
    border: none;
  }
  
  .card {
    display: flex;
    justify-content: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* CSS untuk container readmore */
  .container-readmore {
    background-color: #9bbbd0;
    /* Warna biru untuk latar belakang */
    color: black;
    /* Warna teks putih */
    font-size: 14px;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    /* Membuat sudut melengkung */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Efek bayangan */
    cursor: pointer;
    width: 110px;
    /* Mengatur lebar tombol */
    height: auto;
    padding: 1px 1px;
  }
}