/* Universal Styles */
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3dac9;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  --bs-gutter-y: 0;
  display: flex
;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  background-color: #e3dac9;
}

h6 {
  color: white;
}

/* Wrapper untuk seluruh halaman agar footer berada di bawah */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e3dac9;
}

/* Konten utama yang fleksibel */
.content {
  flex: 1;
}

/* Menghapus latar belakang pada tombol */
.custom-btn {
  border: none;
  /* Menghapus border jika ada */
}



/* Responsivitas untuk Perangkat Kecil */
@media (max-width: 576px) {

  .custom-btn .menu-icon {
    width: 50px;
    height: 50px;
  }

  .custom-btn span {
    font-size: 10px;
    margin-top: -5px;
  }
}

/*======================================================= LOADING SCREEN =======================================================*/
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease;
}

#main-content {
  opacity: 0;
  transition: opacity 3s ease;
}

#main-content.show {
  opacity: 1;
}

.loading-logo,
.loading-wait {
  display: block;
  max-width: 100%;
  height: auto;
}

/*======================================================= NAVBAR =======================================================*/
.custom-navbar {
  background-color: #571ec9;
  background: linear-gradient(90deg, rgba(38, 0, 255, 1) 0%, rgba(196, 60, 207, 0.9612219887955182) 74%, rgba(38, 0, 255, 1) 100%);
  padding: 0 5px 5px 5px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.icon-img {
  border-radius: 10px;
  margin-top: 4px;
}

.navbar-toggler {
  margin-top: 3px;
  color: navy;
}

.navbar-toggler-icon {
  background-color: rgb(199, 184, 184);
  border-radius: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.dropdown-item.text-dark {
  color: black !important;
}

.navbar-brand {
  color: whitesmoke;
  padding: 0 5px 0 0;
}

/* ======================================================= DATA USER =======================================================*/
.data-user {
  display: flex;
  align-items: center;
  padding-left: 16px;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: #222;
  margin-top: 50px;
}
/* ======================================================= SLIDE =======================================================*/
#carouselExampleDark {
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
}

.carousel-item {
  margin-top: 0px;
}

.custom-carousel-image {
    padding: 0 25px;
    object-fit: cover;
    width: auto;
    height: 200px;
    border-radius: 20px;
    padding-bottom: 10px;
    filter: drop-shadow(0px 3px 5px rgb(255, 7, 7, 7));
}

.carousel-item:hover {
  background: #e1e1e1;
  box-shadow: 0 0 0 2px #d0d0d0;
}

/*======================================================= BOX =======================================================*/
.container-box {
  line-height: 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 10px;
  color: rgb(3, 198, 3)
}

.underline-text {
  padding-top: 3px;
  color: black;
}

#teams {
  margin-top: 3px;
}



.countdown-box {
  padding: 0;
  font-size: 12px;
  width: 165px;
  background-color: rgba(177, 255, 190, 0.5);
  /* Warna dengan transparansi */
  ;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 4px rgba(229, 40, 235, 0.73);
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

.countdown-box hr {
  margin: 0;
}

.countdown-box h3,
.countdown-box p {
  margin: -3px 0;
  font-size: 11px;
}

.waktu-mundur {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 9px;
  word-spacing: 1px;
  color: green;
  font-weight: 700;
  text-decoration: none;
  margin-top: -2px;
  padding-top: 2px;
}

#countdown {
  color: aqua;
}

/*======================================================= BUTTON =======================================================*/
/* Styling untuk Container Button */
.container-button {
  padding: 0 10px;
  margin-top: 5%;
  margin-bottom: -20px;
}

.button-judul {
  margin-bottom: -3px;
  font-size: 14px;
  margin-left: 10px;
  color: #06713f;
}

/* Styling untuk Tombol */
.custom-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  padding: 5px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  height: 100%;
  border: none;
}



.btn-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.menu-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.btn-text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  transition: color 0.3s ease;
}


/* Styling untuk Ikon */
.custom-btn .menu-icon {
  width: 55px;
  height: 55px;
  margin-bottom: 10px;
  object-fit: contain;
}

/* Styling untuk Teks */
.custom-btn span {
  text-align: center;
  font-size: 11px;
}

/* Gutter Kustom untuk Row dengan Kelas .custom-gutter */
.custom-gutter {
  --bs-gutter-x: 1rem;
  /* Sesuaikan nilai gutter sesuai kebutuhan */
  margin-right: calc(-.1* var(--bs-gutter-x));
  margin-left: calc(-.1* var(--bs-gutter-x));
}



/* Menghapus border saat tombol custom-btn diklik */
.custom-btn:active {
  background-color: transparent;
  /* Menghilangkan perubahan latar belakang */
  outline: none;
  /* Menghilangkan outline */
  box-shadow: none;
  /* Menghilangkan bayangan yang muncul saat klik */
}

/* Menghapus perubahan pada tombol custom-btn saat fokus */
.custom-btn:focus {
  outline: none;
  /* Menghilangkan outline */
  box-shadow: none;
  /* Menghilangkan bayangan yang muncul saat fokus */
}

/* Menghapus efek hover pada tombol custom-btn */
.custom-btn:hover {
  background-color: transparent;
  /* Menghilangkan perubahan latar belakang */
  color: inherit;
  /* Warna tetap sama */
}

/* Menghapus border saat custom-col diklik */
.custom-col:active {
  outline: none;
  /* Menghilangkan outline */
  background-color: transparent;
  /* Menghilangkan perubahan latar belakang */
  box-shadow: none;
  /* Menghilangkan bayangan */
}

/* Menghapus perubahan pada custom-col saat fokus */
.custom-col:focus {
  outline: none;
  /* Menghilangkan outline */
  box-shadow: none;
  /* Menghilangkan bayangan */
}

/* Menghapus efek hover pada custom-col */
.custom-col:hover {
  background-color: transparent;
  /* Menghilangkan perubahan latar belakang */
  color: inherit;
  /* Warna tetap sama */
}

/* Menghapus outline pada semua elemen setelah klik atau fokus */
* {
  outline: none !important;
  /* Menghilangkan outline pada semua elemen */
  box-shadow: none !important;
  /* Menghilangkan bayangan yang ditambahkan browser */
}





/* Responsivitas untuk Perangkat Besar */
@media (min-width: 768px) {
  .custom-btn {
    padding: 8px;
  }

  .menu-icon {
    width: 32px;
    height: 32px;
  }

  .btn-text {
    font-size: 12px;
  }
}



.container-pembayaran {
  font-size: 20px;
    color: #06713f;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-top: 50px;
    min-height: 60vh;
}





/*======================================================= BERITA DAN ARTIKEL =======================================================*/
.berita {
  margin-bottom: -3px;
  font-size: 14px;
}

.container-berita {
  color: #06713f;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  margin-top: -5px;
  margin-bottom: -5px;
}

/* Menghapus efek fokus dan klik pada container-berita di halaman pembayaran */
.pembayaran-page .container-berita *:focus,
.pembayaran-page .container-berita *:active,
.pembayaran-page .container-berita *:hover {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: inherit !important;
  cursor: default !important;
}

.custom-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 5px;
}

.custom-title {
  border: none;
  text-align: center;
}

.card-title {
  font-size: 11px;
  position: absolute;
  top: 15px;
  line-height: 1.3;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.card-text {
  position: absolute;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #6c757d;
  /* Warna sekunder yang digunakan oleh Bootstrap */
  font-size: 11px;
}

.card-body {
  padding-right: 10px;
  width: 100%;
  border: none;
}

.card {
  display: flex;
  justify-content: center;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-readmore {
  display: inline-block;
  background-color: #007bff;
  /* Warna background biru */
  color: white;
  /* Warna teks putih */
  font-size: 14px;
  /* Ukuran teks default */
  padding: 1px 3px;
  /* Padding di sekitar teks */
  border-radius: 5px;
  /* Membuat sudut kolom melengkung */
  text-align: center;
  text-decoration: none;
  /* Menghapus garis bawah */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Efek bayangan */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  /* Efek transisi saat hover */
}


/*======================================================= LOKASI =======================================================*/
/* Membuat peta responsif dan memperhalus tampilan */
#map {
  width: 100%;
  height: 400px;
  /* Sesuaikan tinggi peta */
  border-radius: 10px;
  /* Menghaluskan sudut peta */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Memberikan bayangan lembut di bawah peta */
  margin-bottom: 40px;
  /* Memberikan jarak di bawah peta */
}

/* Menambahkan padding dan margin agar peta tidak terlalu dekat dengan footer atau elemen lainnya */
.map-container {
  padding: 0px 20px 15px 20px;
  background-color: #e3dac9;
  border-radius: 10px;
  overflow: hidden;
}

.map-judul {
  font-size: 14px;
  text-align: left;
  color: #06713f;
}

/* Responsif: Menyesuaikan ukuran peta di perangkat mobile */
@media (max-width: 768px) {
  #map {
    height: 300px;
    /* Lebih pendek di perangkat kecil */
  }
}

/*======================================================= FOOTER =======================================================*/
.custom-footer {
  background: rgb(38, 0, 255);
  background: linear-gradient(90deg, rgba(38, 0, 255, 1) 0%, rgba(118, 25, 125, 0.9612219887955182) 50%, rgba(38, 0, 255, 1) 100%);
  color: black;
  font-size: 14px;
  text-align: center;
  padding-bottom: 5px;
  margin-top: auto;
}

.footer-content {
  padding-top: 0.1px;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  margin-right: 10px;
  font-size: 20px;
}

.footer-section {
  padding-top: 1px;
  font-size: 12px;
  margin-top: 10px;
}

.footer-section p {
  color: white;
}

@media (max-width: 768px) {
  .footer-section {
    padding: 0;
  }
}

.icon-image {
  width: 40px;
  height: 40px;
  border-radius: 9px;
}

.social-icon i {
  transition: color 0.3s;
}

.social-icon:hover i {
  color: #C13584;
}

.footer-bottom {
  font-size: 12px;
  color: black;
  font-weight: bold;
  margin-top: -10px;
}

.footer-bottom p {
  margin-top: 1px;
  margin-bottom: 0.5px;
  padding-bottom: 2px;
  color: white;
}

.footer-telephone {
  margin-top: 0px;
}

.footer-telephone p {
  color: white;
}

.footer-email {
  margin-top: -5px;
  margin-bottom: 0rem;
}

.footer-email p {
  color: white;
}

.footer-email-link {
  text-decoration: underline !important;
  color: white;
}

.footer-buttom-dibuat {
  padding-bottom: 5px;
}

/* share link */
.link-icon {
  font-size: 12px;
  cursor: pointer;
  color: #f5f5dc;
  text-decoration: none;
  font-weight: bold;
}

.tautan-notification {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #28a745;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.container-tautan {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
  /* Rounded corners */
  background: linear-gradient(135deg, #2d9802, #4cf279);
  /* Gradien gelap dari abu-abu tua ke biru tua */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.2);
  /* Deep shadow for elegance */
  text-align: center;
  width: auto;
  /* Lebar tetap */
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Arial', sans-serif;
  /* Font yang modern dan umum */
}

.container-tautan h5 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.container-tautan p {
  margin-bottom: 10px;
  font-size: 14px;
}

/* Pengaturan ukuran ikon */
.link-icon img {
  width: 14px;
  /* Ubah ukuran sesuai kebutuhan */
  height: 14px;
  /* Ubah ukuran sesuai kebutuhan */
  margin-top: -6px;
}


/* Loading Spinner */
.loading-spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.loading-spinner.active {
  display: flex;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/*======================================================= Media Queries untuk Desktop =======================================================*/
@media (min-width: 1024px) {

  body {
    background-color: #e3dac9;
  }

  .wrapper {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0;
    box-sizing: border-box;
    border-left: 4px solid #571ec9;
    border-right: 4px solid #571ec9;
    background-color: white;
  }

  .content-wrapper {
    background-color: white;
    box-sizing: border-box;
  }

  .custom-navbar {
    padding: 0 5px 5px 5px;
    width: 80%;
    height: 70px;
  }

  .navbar-collapse {
    justify-content: space-between;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .navbar-nav .nav-item {
    margin-right: 10px;
  }

  .navbar-nav .nav-link {
    font-size: 20px;
  }

  .dropdown-menu .dropdown-item {
    font-size: 24px;
  }

  .dropdown-item.text-yellow-bold {
    color: #FFD700 !important;
    font-weight: bold;
  }

  #carouselExampleDark {
    overflow: hidden;
    border-radius: 20px;
  }



  #carouselExampleDark .carousel-item {
    height: 300px;
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
    opacity: 0;
    transform: scale(1.05);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  #carouselExampleDark .carousel-item.active,
  #carouselExampleDark .carousel-item-next.carousel-item-left,
  #carouselExampleDark .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transform: scale(1);
    position: relative;
  }

  #carouselExampleDark .carousel-item-next,
  #carouselExampleDark .carousel-item-prev {
    opacity: 0;
    transform: scale(1.05);
  }

  #carouselExampleDark .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    transition: transform 1.5s ease, opacity 1.5s ease;
  }



  .container-box {
    margin: 20px 0;
  }

  .countdown-box {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    width: 200px;
    background-color: #b1ffbe;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 4px rgba(229, 40, 235, 0.73);
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
  }

  .custom-footer {
    color: aliceblue;
    margin-left: -6%;
    margin-right: -6%;
    background-color: #252bc2;
    box-sizing: border-box;
  }

  .footer-bottom p {
    margin-top: 1px;
    margin-bottom: 0.5px;
    padding-bottom: 2px;
    color: white;
  }

  #loading-screen {
    width: 80vw;
    padding-left: 10%;
    padding-right: 10%;
    left: 10%;
    box-sizing: border-box;
    border-left: 4px solid #571ec9;
    border-right: 4px solid #571ec9;
  }

  .loading-logo {
    max-width: 50%;
    margin: 0 auto;
  }

  .loading-wait {
    max-width: 50%;
    margin: 20px auto 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
  }

  .text-yellow-bold {
    color: #FFD700;
    font-weight: bold;
  }
}



/*======================================================= Media Queries untuk Desktop dengan Tampilan iPad Pro =======================================================*/
@media (min-width: 1024px) {

  /* Mengatur tampilan desktop untuk menjadi seperti iPad Pro */
  body {
    max-width: 1024px;
    margin: 0 auto;
    background-color: white;
  }

  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    background-color: #e3dac9;
  }

  .custom-navbar {
    width: 795px;
    height: 40px;
    display: flex;
    margin-left: -40px;
  }

  .navbar-nav .nav-item {
    margin-right: 10px;
  }

  .nav-link {
    color: white !important;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    /* Ukuran font lebih kecil untuk tampilan iPad Pro */
  }

  #carouselExampleDark .carousel-item {
    height: 400px;
    /* Tinggi carousel disesuaikan untuk tampilan iPad Pro */
  }

  .container-box {
    margin: 20px 35px;
  }

  .countdown-box {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    width: 250px;
    background-color: rgba(177, 255, 190, 0.5);
    border-radius: 10px;
    box-shadow: 0px 1px 5px 4px rgba(229, 40, 235, 0.73);
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
  }

  .custom-footer {
    background-color: #252bc2;
    text-align: center;
  }

  .footer-bottom p {
    margin-bottom: 0.5px;
    padding-bottom: 2px;
    color: white;
  }

  .icon-image {
    width: 40px;
    height: 40px;
    border-radius: 9px;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: #424242;
    /* Dark gray background for PC/laptop */
  }

  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    /* Keep content area white */
  }
}
